@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

.logo {
  width: 135px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


html,
body {
  height: 100%;
  font-family: rosario;
}

body {
  margin: 0;
}

header nav {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  background-color: #fcfbfa;
  font-size: x-large;
  box-shadow: inset 0px 0px 5px 5px rgb(29 28 26 / 5%);
}

/*a {
  text-decoration: none;
  color: #AAA;
  margin: 0 60px;
}*/

#logo {
  width: 200px;
  height: 100%;
  color: #AAA;
}

/*a:hover {
  color: rgb(112, 230, 184);
}*/





/*search bar*/


.searchBox {
  /*position: center;*/
  /*top: 50%;
    left: 50%;*/
  /* transform:  translate(0%,0%); */
  background: #f1f1f177;
  height: 30px;
  border-radius: 30px;
  padding: 10px;
  align-self: center;

}

.searchBox:hover>.searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover>.searchButton {
  background: rgba(255, 255, 255, 0);
  color: #d5d8dd;
}

.searchButton {
  color: rgba(8, 8, 8, 0.678);
  /*float: right;*/
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00030700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  top: 50%;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #75B1A9;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/*L'art de la chapellerie*/

h1 {
  font-family: 'Calligraffitti', cursive;
  font-weight: 260;
  font-size: 350%;
  margin-top: 4rem;
  margin-left: 6rem;
  position: relative;
}

h2 {
  font-family: 'rosario';
  font-weight: 400;
  font-size: 150%;
  margin-left: 6rem;
  color: #AAA;
  margin-top: 40px;
}






